.sign-in {
    display: block;
    width: 100%;
    max-width: 40rem;
    margin: 4rem auto 6rem;
    padding: 25px 0;
    border: 1px solid black;
}

.wrap {
    padding: 0 10px;
    margin: auto;

    h2 {
        font-size: 22px;
        line-height: 1px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        display: block;
        width: 100%;
        margin: 2rem auto;
        padding: 0;
        
    }
}